                    /* MARGENES DEL HTML*/

*{
    margin: 0;  /* margen de todo el documento html*/
    padding: 0; /*espacio interno*/
}



                    /* CONFIGURACIÓN DEL FONDO DE LA PANTALLA*/
.container{
    position: absolute;
    width: 100vw; /* ancho de la pantalla */
    height: 100vh; /* alto de la pantalla */
    background-image: url("/img/Fondo.gif");
    background-size: cover;         
    background-repeat: no-repeat;  
    background-position: center;
    background-attachment: fixed;
    opacity: 90%;
}



                    /* CONFIGURACIÓN DE LA CAJA DE TEXTO*/
.texto{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: "Arial Arrow";
    font-style: oblique;
    font-weight: 400;
    font-size: 32px;
    height: 400px;
    padding: 15px 15px;
    text-align: justify;
    line-height: 150%;
    background-color: #f3f5fc;
    opacity: 70%;
    border-radius: 10px;
}



                    /* CONFIGURACIÓN TEXTO EN PLACELHOLDER*/
.texto::placeholder{
    color: #c82840;
    text-align: center;
}

.texto:focus,
.texto:active{
    border: none;
    outline: none;
}


.terminos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 78%;
}


.terminos p {
    font-family: "Arial Arrow";
    font-style: oblique;
    font: bold;
    font-size: 15px;
    color: white;
    /*width: 80%;
    height: 50%;
    top: 80%;*/
}




                    /* BOTONES DE ENCRIPTADO Y DESENCRIPTADO*/
.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
}

.btn-encriptar {
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: #e8901c;
    border-radius: 24px;
    font-family: "Arial Narrow";
    font-style: oblique;
    font: bold;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.btn-desencriptar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background: #e8901c;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-family: "Arial Narrow";
    font-style: oblique;
    font: bold;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.btn-desencriptar:hover,
.btn-encriptar:hover{
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}

.encriptado {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    opacity: 85%;
}

.mensaje-encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.mensaje-encriptado h2 {
    width: 60%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: wheat;
}

.mensaje-encriptado p {
    width: 80%;
    font-family: "Arial Black";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 175%;
    text-align: center;
    color: wheat;
}

.encriptado img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    border-radius: 4%;    
}

                    /* BOTON COPIAR*/

.Contenedor-btnCopy{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 40%;
    left: 44%;
    top: 8.5%;
}

.Contenedor-btnCopy button{
    align-items: center;
    justify-content: center;
    padding: 1.5%;
    gap: 8px;
    width: 25%;
    background-color: #e8901c;
    border-radius: 24px;
    font-family: "Arial Narrow";
    font-style: oblique;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
    

/*Responsive design*/
@media(max-width: 57.5em){
    .container {
        display: flex;
        flex-direction: row;
    }
    .encriptar {
        width: 100%;
    }

    .texto {
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }

    .terminos {
        width: 80%;
        left: 10%;
        top: 67%;
    }

    .terminos p{
        font-size: 16px;
    }


    .botones {
        width: 80%;
        left: 10%;
        top: 70%;
        }

    .btn-encriptar, 
    .btn-desencriptar {
        width: 48%;
        border-radius: 16px;
    }

    .btn-encriptar:hover, 
    .btn-desencriptar:hover {
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }

    .encriptado {
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;
    }

    .mensaje-encriptado{
        width: 100%;
        top: 5%;
    }

    .encriptado img {
        top: 0;
        display: none;
        visibility: hidden;
    }
}